<ion-header>
  <ion-toolbar color="primary">
     <ion-title>
      <span *ngIf="!isAdduser">
          &#3253;&#3263;&#3238;&#3277;&#3247;&#3262;&#3248;&#3277;&#3237;&#3263;&#3223;&#3251; &#3242;&#3231;&#3277;&#3231;&#3263;
      </span>
      <span *ngIf="isAdduser">
          &#3257;&#3274;&#3256; &#3253;&#3263;&#3238;&#3277;&#3247;&#3262;&#3248;&#3277;&#3237;&#3263;
      </span>      
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="addUser()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>    
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content padding class="ion-content-container">
  
  <ion-list *ngIf="!isAdduser">

    <ion-card *ngFor="let student of students" lines="inset">
        <ion-card-header>
            <ion-card-title>{{student.name}}</ion-card-title>
            <ion-card-subtitle>
                <ion-label color="medium">
                  {{student.email}}
                  <ion-icon name="mail" style="float: right;" color="primary"></ion-icon>
                </ion-label>             
            </ion-card-subtitle>
            <ion-card-subtitle>
              <ion-label color="medium">
                {{student.phone}}
                <ion-icon name="call" style="float: right;" color="primary"></ion-icon>
              </ion-label>
            </ion-card-subtitle>            
        </ion-card-header>
    </ion-card>
    <ion-item *ngIf="students.length <= 0">
      <ion-label>
          &#3253;&#3263;&#3238;&#3277;&#3247;&#3262;&#3248;&#3277;&#3237;&#3263;&#3223;&#3251; &#3240;&#3275;&#3202;&#3238;&#3235;&#3263;&#3247;&#3262;&#3223;&#3263;&#3250;&#3277;&#3250;
      </ion-label>
    </ion-item>
  </ion-list>
  <span *ngIf="isAdduser">
    <form [formGroup]="registerForm" novalidate>
      <ion-item>
          <ion-label no-margin position="floating">&#3257;&#3270;&#3256;&#3248;&#3265;</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label no-margin position="floating">Admin/Student</ion-label>
        <ion-input type="text" formControlName="type"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label no-margin position="floating">&#3246;&#3270;&#3266;&#3244;&#3270;&#3286;&#3250;&#3277; &#3240;&#3202;&#3244;&#3248;</ion-label>
          <ion-input type="number" formControlName="phone"></ion-input>
      </ion-item>  
      <ion-item>
          <ion-label no-margin position="floating">&#3207;&#3246;&#3271;&#3250;&#3277;</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
   
      <ion-item>
          <ion-label no-margin position="floating">&#3242;&#3262;&#3256;&#3277;&#3253;&#3248;&#3277;&#3233;&#3277;</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <br/>
      <ion-button  (click)="submitUser()" color="primary"> &#3246;&#3262;&#3257;&#3263;&#3236;&#3263;&#3247;&#3240;&#3277;&#3240;&#3265; &#3256;&#3250;&#3277;&#3250;&#3263;&#3256;&#3263;/ Submit </ion-button>
    </form>
  </span>
</ion-content>
